body, table, caption, tbody, tfoot, thead, tr, th, td, ul, li, p, h1 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 24px;
    font-family: "微软雅黑 Light", serif;
    line-height: 100%;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

img {
    position: absolute;
    border: 0;
}